.top-section {
    background-color: #343a40;
    color: white;
    padding: 3px;
}
.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    height: 100%;
}
.main-content {
    padding: 20px;
    /* overflow-y: auto; 스크롤바 추가 */
    height: calc(100vh - 150px); 
}
.container {
    padding : 30px;
}
.footer-section {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}